* {
    font-family: 'Orbitron', sans-serif;
}

body {
    background: #000000;
    background: -moz-radial-gradient(center, #000000 0%, #060071 100%, #000000 100%);
    background: -webkit-radial-gradient(center, #000000 0%, #060071 100%, #000000 100%);
    background: radial-gradient(ellipse at center, #000000 0%, #060071 100%, #000000 100%);
}

#title {
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-shadow: 0px 0px 0 #899CD5, 
        1px 1px 0 #8194CD, 2px 2px 0 #788BC4, 
        3px 3px 0 #6F82BB, 4px 4px 0 #677AB3, 
        5px 5px 0 #5E71AA, 6px 6px 0 #5568A1, 
        7px 7px 0 #4C5F98, 8px 8px 0 #445790, 
        9px 9px 0 #3B4E87, 10px 10px 0 #32457E, 
        11px 11px 0 #2A3D76, 12px 12px 0 #21346D, 
        13px 13px 0 #182B64, 14px 14px 0 #0F225B, 
        15px 15px 0 #071A53, 16px 16px 0 #02114A, 
        17px 17px 0 #0B0841, 18px 18px 0 #130039, 
        19px 19px 0 #1C0930, 20px 20px 0 #251227, 
        21px 21px 20px rgba(0,0,0,1), 21px 21px 1px rgba(0,0,0,0.5), 
        0px 0px 20px rgba(0,0,0,.2), 2px 2px 2px rgba(206,89,55,0);
    text-align: center;
    font-size: 75px;
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#leaderboard {
    color: white;
    margin: auto;
}

#leaderboard-header {
    font-size: 25px;
    margin: 10px 10px;
}

#join-btn {
    cursor: grab;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    float: right;
    padding: 0 5px;
}

#join-btn:active {
    cursor: grabbing;
}

#submit-join {
    display: inline-block;
}

#submit-join:hover {
    color: grey;
    cursor: pointer;
}

#waiting-submit {
    display: none;
}

#join-error {
    display: none;
}

.blink-1 {
    animation: blinking 2s ease-in-out infinite;
}

.blink-2 {
    animation: blinking 2s ease-in-out infinite;
    animation-delay: 0.3s;
}

.blink-3 {
    animation: blinking 2s ease-in-out infinite;
    animation-delay: 0.6s;
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#space-war {
    border: white solid 5px;
    border-radius: 25px;
    margin: auto;
}

#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rbg(0, 0, 0);
    background-color: rbga(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0px;
    border: 1px solid #888;
    width: 500px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-header {
    padding: 2px 16px;
    background-color: #06006D;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #06006D;
    color: white;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover, .modal-close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}